footer{
    padding-top: 3rem;
    background-image: url(/images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    h4{
        font-weight: bold;
        margin-bottom: 1rem;
        font-size: 1.25rem;
    }
    ul{
        list-style-type: none;
        li{
            margin-bottom: 0.25rem;
            font-size: 0.8rem;
            a{
                text-decoration: none;
            }
        }
    }
}
.dc-bg{
    background-repeat: no-repeat;
    background-image: url('img/dc-logo-bg.png');
    transform: translate(60px, -28%);
}
.bottom-footer{
    height: 150px;
    background-color: #303030;
    .sign-up{
        font-weight: bold;
        padding: 15px;
        border: 3px solid #13538F;
        background-color: #303030;
        color: white;
    }
}