@import 'fonts';
@import 'vars';
@import 'generics';
@import 'utils';
@import 'header';
@import 'jumbotron';
@import 'main';
@import 'details';
@import 'footer';

.card{
    background-color: #1C1C1C;
    padding-top: 10px;
    color: white;
}
